body {
    display: flex;
    font-family:serif;
    font-size: 1.3em;
    justify-content: center;
    background-color: rgb(78, 78, 78);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(255, 0, 0);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 rgba(41, 41, 41, 0.9);
    padding: 40px 0;
    width: 400px;
    
}

.btnCalc {
    display: flex;
    font-size: 1em;
    padding: 5px;
    margin: 10px auto;
    background-color: white;
    border: black solid 1px;
    border-radius: 5px;
    transition: .5s;
    width: 200px;
    justify-content: center;
}

.btnCalc:hover {
    background-color: black;
    color: white;
    transition: .5s;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 10px 0;
    max-width: 400px;
    justify-content: center;
}

input {
    padding: 7px;
    margin: 10px 0;
}
